@{
    ViewData["Title"] = "Privacy Policy";


}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section PrivacySection{
<div>
    <img src="~/assets/img/about.jpg" alt="about" />
    <p>This is a logo for Privacy</p>
</div>
}

@Html.Partial("_PageFooter")